<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CpHandler.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <CpHandler.My.MySettings>

      <setting name="FolderIn" serializeAs="String">
        <value>C:\CP_Handler\In\</value>
      </setting>
      <setting name="FolderOut" serializeAs="String">
        <value>C:\CP_Handler\Out\</value>
      </setting>
      <setting name="FolderArc" serializeAs="String">
        <value>C:\CP_Handler\Arc\</value>
      </setting>
      <setting name="FolderLog" serializeAs="String">
        <value>C:\CP_Handler\Log\</value>
      </setting>

      <setting name="LastName" serializeAs="String">
        <value>Фамилия</value>
      </setting>
      <setting name="FirstName" serializeAs="String">
        <value>Имя</value>
      </setting>
      <setting name="SecondName" serializeAs="String">
        <value>Отчество</value>
      </setting>
      <setting name="BirthDate" serializeAs="String">
        <value>Дата рождения</value>
      </setting>
      <setting name="Snils" serializeAs="String">
        <value>СНИЛС</value>
      </setting>
      <setting name="PeriodStart" serializeAs="String">
        <value>Период трудовой деятельности, требующий подтверждения (начало)</value>
      </setting>
      <setting name="PeriodEnds" serializeAs="String">
        <value>Период (конец)</value>
      </setting>

      <setting name="DbLocation" serializeAs="String">
        <value>10.15.0.60</value>
      </setting>
      <setting name="DbName" serializeAs="String">
        <value>ROS</value>
      </setting>
    </CpHandler.My.MySettings>
  </userSettings>
</configuration>